[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
layouts = "==0.4.1"
pytest = "*"
pytest-xdist = "*"
gitpython = "*"
pygithub = "==1.39"

[dev-packages]

[requires]
python_version = "3"
